<h2>The Shopify Customfields Editor</h2>
<p>Because no one knows why Shopify doesn't let you do this in their
    admin.</p>
<p>This just talks directly to Shopify's API and stores information
    in their "metadata" attribute.</p>
<p>When a page is rendered on `storq.co` it will only pull data
    from Shopify's database. This app is completely out-of-band, so
    don't worry. :-)</p>
	<html><head>
	<title><customfield</title>
	</head>
	</body>
<li class="dropdown open">
<a href="https://devlopment-store.myshopify.com" class="shop_name dropdown-toggle" data-target="#" data-toggle="dropdown">devlopment-store.myshopify.com <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://devlopment-store.myshopify.com" target="blank">Storefront</a></li>
<li><a href="http://devlopment-store.myshopify.com/admin" target="blank">Shopify Admin</a></li>
<li class="divider"></li>
<li><a href="/logout" data-method="delete" rel="nofollow">Logout</a></li>
</ul>
</li>
</body></html>